.account {
	display: flex;
	position: relative;
	flex: 1 1 100%;
	justify-content: center;
}

.container {
	display: flex;
	row-gap: 15px;
	flex: 1 1 100%;
	flex-direction: column;
	padding: 5%;
	max-width: 500px;
}

.wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title {
	color: var(--light-scheme-color);
}

.email {
	font-style: italic;
	font-weight: 700;
}

@media (width >= 440px) {
	.container {
		padding: 40px 10%;
	}
}

@media (width >= 500px) {
	.container {
		padding: 40px 5%;
	}
}

@media (width >= 600px) {
	.container {
		padding: 40px 0;
	}
}

@media (width >= 900px) {
	.container {
		padding: 50px 0;
	}
}
